body{
    color: red;
    font-size: 16px;
    font-family: Microsoft YaHei;
    padding-top: 0;
    margin-top: 0;
}

*{
    margin: 0;
    padding: 0;
}


.top{
    width: 1200px;
    margin: 0 auto;
    height: 100px;
    background: white;
}

.top a img{
    float: left;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
}

.logo{
    float: left;
    height: 40px;
    margin-left: 20px;
    display: block;
    margin-top: 0;
    position: absolute;
    width: 146px;
}
td{
    border: none;
}
td img {
    height: 40px;
    float: left;
    margin-left: 70px;
    margin-top: 30px;
}
td input.tijiao{
    float: right;
    height: 40px;
    width: 80px;
    background: none;
}

img.s_z{

}

a{
    color: #000;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 1px;
}